<div id="dashboard_container">
  <h1>Hello, {{ user_name.name }}</h1>
  <table class="table table-bordered" *ngIf="request">
    <thead>
    <tr>
      <td> Driver name</td>
      <td>Driver start</td>
      <td> Meet up point</td>
      <td>Phone number</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
      <tr *ngIf="request">
        <td>{{request._user.first_name }} </td>
        <td> {{request.driver_start }} </td>
        <td> {{request.shotgun_start }} </td>
        <td>{{request._user.phone_number}} </td>
        <td><a class="btn btn-primary" (click)="resultroute()">See detail</a></td>
      </tr>
    </tbody>
  </table>
    <div class="input_container" *ngIf="!request">
          <div class="form-group">
            <input placeholder="start" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #startsearch [formControl]="searchControl">
          </div>
          <div class="form-group">
            <input placeholder="destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #endsearch [formControl]="searchControl">
          </div>
          <!--<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          </agm-map>-->
          <button class="btn btn-primary" (click)="route()">Need a Ride</button>
          <p *ngIf="sent" class="green">You sent a carpool request successfully.</p>
    </div>
    <p *ngIf="duration">Estimate time: {{ duration }}</p>
    <div id="map" *ngIf="!request"></div>
      <div>
        <div id="resultmap"></div>
        <p *ngIf="result_flag">Estimate time: {{ result_duration }}</p>
      </div>
</div>

