<div id="driver_container">
  <table class="table table-bordered">
    <thead>
    <tr>
      <td>Name</td>
      <td>Guest start</td>
      <td> Guest destination</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of shotgun_requests">
        <td>{{request._user.first_name}} </td>
        <td> {{request.start}} </td>
        <td> {{request.end}} </td>
        <td><a class="btn btn-primary" (click)="showroute(request._id)">See route</a>
            <a class="btn btn-primary" (click)="pickup(request._id)">Pick up</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="left_container"> 
    <div class="input_container">
          <div class="form-group">
            <input placeholder="start" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #startsearch [formControl]="searchControl">
          </div>
          <div class="form-group">
            <input placeholder="destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #endsearch [formControl]="searchControl">
          </div>
          <!--<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          </agm-map>-->
          <button class="btn btn-primary" (click)="route()">Need a Passenger</button>
    </div>
    <div id="map"></div>
  </div>
  <!--<div *ngIf="showroute_flag" id="right_container">
    <p>Before picking up passenger: {{ driver_time }} mins </p>
    <p>After picking up passenger: {{ carpool_time }} mins </p>
    <p>It's {{ percentage }}% more than original.</p>
    
  </div>-->

  <div *ngIf="showroute_flag" class="panel panel-primary" id="right_container">
    <div class="panel-heading">
      <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
      <p>Before picking up passenger: {{ driver_time }} mins </p>
      <p>After picking up passenger: {{ carpool_time }} mins </p>
      <p>It's {{ percentage }}% more than original.</p>
    </div>
  </div>

</div>
